@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/****************/
body {
    font-family: 'Poppins', sans-serif;
}
form {
    display: none;
}
#header {
    box-shadow: 0 4px 11px -4px grey;
}

#header div {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 20%;
}

#header h1 {
    font-size: 35px;
    font-weight: 700;
    color: navy;
    align-self: center;
}

button {
    border-radius: 30px;
    border: none;
    background-color: navy;
    color: white;
    padding: 20px 35px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    cursor: pointer;
}
form > div {
    display: flex;
    flex-direction: column;
    width: 400px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    padding: 45px;
    top: 40%;
    right: 40%;
    position: absolute;
    background-color: #fefefe;
}

input {
    padding: 9px;
    margin-bottom: 15px;
    justify-content: center;
}

form div div {
    text-align: center;
}
form button {
    width: 50%;
    margin: 0 auto;
}

#library {
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}

.card {
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    padding: 20px;
    border-radius: 20px;
    border-top: navy 10px solid;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.card h2 {
    font-size: 25px;
    font-weight: 600;
    color: navy;
}

.card p {
    margin: 10px;
}

.readButton {
    padding: 15px;
    width: 50%;
    margin: 10px auto;
    font-size: 14px;
}

.removeButton {
    background-color: black;
    margin: auto;
    padding: 10px 20px;
}